.blog {
    background-color: $whiteShade;
    padding-top: 75px;

    .wrapper {
        display: flex;
        justify-content: space-between;
    }

    .commentContainer  {
        display: flex;
    }


    .aboutContainer {
        width: 31%;
    }

    .aboutContainer > *,
    .blogContainer >*:not(.myForm) {
        > * {
            background-color: white;
            padding: 35px;
        }
    }

    .blogContainer {
        width: 66.5%;
    }
}