.blog {
    background-color: $whiteShade;
    padding-top: 75px;

    .wrapper {
        display: flex;
    }


    .aboutContainer {
        width: 25%;
    }

    .aboutContainer > *,
    .blogContainer >*:not(.myForm) {
        > * {
            background-color: white;
        }
    }

    .blogContainer {
        width: 75%;
    }
}