.blogHeader {
    background-image: url(../assets/blog-image-1.jpg);
    background-position: center;
    background-size: cover;
    height: 70vh;
    display: flex;
    align-items: flex-end;
    transition: 0.3s;
    h1 {
        margin-bottom: -16px;
    }
}

@media (max-width: 609px) {
    .blogHeader {
        h1 {
            text-align: center;
        }
    }
}

@media (max-width: 480px) {
    .blogHeader {
        height: 50vh;
    }
}