.blog {
    background-color: $whiteShade;
    padding-top: 75px;

    .wrapper {
        display: flex;
        justify-content: space-between;
    }
    
    .commentContainer  {
        display: flex;
        justify-content: space-between;

        .comment {
            width: 87%;
        }
        
        .commenterImg {
            width: 11.5%;
        }
    }

    .aboutContainer {
        width: 31%;
        transition: 0.3s;
    }

    .aboutContainer > *,
    .blogText,
    .commentContainer {
        background-color: white;
        padding: 35px;
    }
    
    h4 {
        margin: 20px 0;
    }

    .profile {
        a {
            font-weight: bold;
            color: black;
            transition: 0.2s;
            &:hover,
            &:focus {
                color: $greenGrey;
            }
        }
    }

    .commentContainer,
    .myForm {
        margin-top: 25px;
    }
    
    .recentPosts {
        margin-top: 25px;
        li {
            list-style: disc;
            margin-left: 25px;
        }
    }

    .blogContainer {
        width: 65.4%;
    }

    .blogText {
        p {
            margin-top: 20px;
        }
    }

    .blogText,
    .blogComments:nth-child(2) {
        border-bottom: 5px solid $greenGrey;
    }

    .myForm {
        padding-bottom: 75px;
        fieldset {
            border: none;
            font-size: 0;
            input,
            textarea {
                border: none;
                padding: 20px;
                font-size: 0.9rem;
                font-family: $fontMontserrat;
                color: $black;
                margin-bottom: 20px;
            }

            .inputs {
                display: flex;
                justify-content: space-between;
            }

            input {
                width: 49%;
            }

            textarea {
                display: block;
                width: 100%;
                resize: none;
            }

            .button {
                width: 100%;
            }
        }
    }
}

@media(max-width: 930px) {
    .blog {
        .wrapper {
            flex-direction: column;
        }

        .aboutContainer {
            width: 100%;
            margin-bottom: 24px;
        }

        .profile {
            display: flex;
            justify-content: space-between;
        }

        .aboutTextContainer {
            width: 45%;
            display: flex;
            flex-direction: column;
            text-align: center;
            justify-content: center;
            align-items: center;
        }

        .recentPosts {
            h4 {
                text-align: center;
            }
        }

        .blogContainer {
            width: 100%;
            h3 {
                text-align: center;
            }
        }

        .commentContainer  {
            .comment {
                width: 84%;
            }
            
            .commenterImg {
                min-width: 11.5%;
                width: auto;
            }
        }
    }
}

@media (max-width: 558px) {
    .blog {
        .profile {
            flex-direction: column;
        }

        .aboutTextContainer {
            width: 100%;
        }

        .myForm {
            fieldset {
                .inputs {
                    flex-direction: column;
                }
                input {
                    width: 100%;
                }
            }
        }
    }
}