.contactBody {
    background-color: $whiteShade;
    padding: 75px 0;

    .contactBodyContainer {
        display: flex;
        justify-content: space-between;
    }

    .contactContainer {
        background-color: white;
        width: 29%;
        height: 100%;      

        .socialMediaIcons {
            display: flex;
            justify-content: space-between;
            max-width: 195px;
            margin: 40px 20px 30px;
            > * {
                width: 20px;
                height: 20px;
                color: $pine;
            }

            i {
                font-size: 1.4rem;
            }
        }

        .textContainer {
            margin-bottom: 30px;

            p {
                margin-left: 20px;
            }

            p:first-child {
                font-weight: bold;
                margin-bottom: 30px;
            }
        }
    }

    .myForm {
        width: 68%;

        fieldset {
            border: none;
            font-size: 0;
            input,
            textarea {
                border: none;
                padding: 20px;
                font-size: 0.9rem;
                font-family: $fontMontserrat;
                color: $black;
                margin-bottom: 20px;
            }

            .inputs {
                display: flex;
                justify-content: space-between;
            }

            input {
                width: 49%;
            }

            textarea {
                display: block;
                width: 100%;
                resize: none;
            }

            .button {
                width: 100%;
            }
        }
    }
}

@media(max-width: 930px) {
    .contactBody {

        .contactBodyContainer {
            flex-direction: column;
        }

        .contactContainer {
            margin-top: 30px;
            width: 100%;
        }

        .myForm {
            order: -1;
            width: 100%;
        }

    }
}