.contactHeader {
    background-image: url(../assets/contact-image-1.jpg);
    background-position: center;
    background-size: cover;
    height: 70vh;
    display: flex;
    align-items: flex-end;

}