.generalInformation {
    
    .info1 {
        margin-bottom: 75px;
    }

    .infoContainer {
        display: flex;
        justify-content: space-between;
        height: 325px;
        > * {
            width: 43%;
            // width: 50%;
        }
    }

    .generalInfoTextContainer {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        // align-items: center;
        .button {
            max-width: 210px;
        }
        > * {
            margin-top: 15px;
        }
    }

    .genImgContainer {
        position: relative;
    }

    .img1 {
        img {
            position: absolute;
            right: -90px;
            top: -40px;
            box-shadow: 20px 20px $greenGrey, -20vw 20px $greenGrey;
        }
    }

    .img2 {
        img {
            position: absolute;
            right: 90px;
            top: 15px;
            box-shadow: 20px 20px $pine, 20vw 20px $pine;
        }
    }
    .info2 {
        .generalInfoTextContainer {
            text-align: right;
            align-items: flex-end;
            justify-content: flex-start;
        }
    }
    .button a {
        color: inherit;
    }
}