.navBar {
    background-color: $pine;
    padding: 20px 0;
    position: relative;
    .wrapper ul {
        display: flex;
        justify-content: space-between;
        width: 65%;     
        margin: 0 auto;
    }

    .hamburgerMenu {
        visibility: hidden;
        width: 60px;
        height: 60px;
        border: 3px solid $whiteShade;
        background-color: $pine;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        position: fixed;
        z-index: 20;
        top: 5px;
        right: 5px;

        .menuBar {

            height: 3px;
            width: 25px;
            display: block;
            background-color: $whiteShade;
            margin: 5px auto;
        }

        .slideOutNav {
            position: fixed;
            display: none;
        }
    }

    a, span {
        @include menuText;
        text-transform: uppercase;  
    }

    li {
        a:hover,
        span:hover {
            color: $accent;
            transition: 0.3s;
        }
        
    }
    
  .logo {
        font-weight: bold;
        line-height: 29px;
        color: $whiteShade;
        font-family: $fontAbrilFatface;
        font-size: 2.1rem;
    }
}

@media (max-width: 930px) {

    .navBar {
        transition: 0.75s;
        .wrapper ul {
            flex-direction: column;
            align-items: center;
            li {
                margin-bottom: 15px;
            }
        }
        ul li:nth-child(3) {
            order: -1;
        }
    }
}

@media (max-width: 480px) {
    .navBar {
        // .wrapper ul li:not(ul li:nth-child(3)) {
        //     display: none;
        // }

        .wrapper {
            ul li {
                display: none;
            }

            .slideOutNav ul li{
                display: block;
            }
        }

        .hamburgerMenu {
            visibility: visible;
        }
    }

}