// Font Colours
$accent: #E4A436;
$greenGrey: #709B6B;
$pine: #345231;
$black: #1F1F1F;
$whiteShade: #F6F6F6;

// Font Styles
$fontAbrilFatface: 'Abril Fatface', cursive;
$fontMontserrat: 'Montserrat', sans-serif;

// Text Styling

@mixin heading1 {
    font-family: $fontAbrilFatface;
    font-weight: normal;
    font-size: 4rem;
    color: $whiteShade;
    line-height: 92px;
    letter-spacing: 1px;
}

@mixin heading2 {
    font-family: $fontAbrilFatface;
    font-weight: normal;
    font-size: 2.1rem;
    color: $black;
    letter-spacing: 1px;
}

@mixin heading3 {
    font-family: $fontAbrilFatface;
    font-weight: normal;
    font-size: 1.6rem;
    color: $black;
    letter-spacing: 1px;
}

@mixin heading4 {
    font-family: $fontAbrilFatface;
    font-weight: normal;
    font-size: 1.2rem;
    color: $black;
    letter-spacing: 1px;
}

@mixin menuText {
    font-family: $fontMontserrat;
    font-weight: bold;
    color: $whiteShade;
    line-height: 29px;
    letter-spacing: 1px;
}

@mixin buttonText {
    font-family: $fontAbrilFatface;
    font-weight: normal;
    color: $black;
    line-height: 32px;
    letter-spacing: 1px;
}

@mixin bodyText {
    font-family: $fontAbrilFatface;
    font-weight: normal;
    color: $black;
    line-height: 32px;
    letter-spacing: 0px;
}