// Font Colours
$accent: #E4A436;
$greenGrey: #709B6B;
$pine: #345231;
$black: #1F1F1F;
$whiteShade: #F6F6F6;

// Font Styles
$fontAbrilFatface: 'Abril Fatface', cursive;
$fontMontserrat: 'Montserrat', sans-serif;