.contactHeader {
    background-image: url(../assets/contact-image-1.jpg);
    background-position: center;
    background-size: cover;
    height: 70vh;
    display: flex;
    align-items: flex-end;
    transition: 0.3s;
    h1 {
        margin-bottom: -16px;
    }
}

@media (max-width: 930px) {
    .contactHeader {
        h1 {
            text-align: center;
        }
    }
}

@media (max-width: 480px) {
    .contactHeader {
        height: 50vh;
    }
}

@media (max-width: 430px) {
    .contactHeader {
        h1 {
            text-orientation: upright;
            writing-mode: sideways-rl;
            height: 53vh;
            span {
                writing-mode: initial;
            }
        }
    }
}