.about {
    background-color: $whiteShade;
    .aboutContainer {
        transition: 0.3s;
        padding: 180px 0 90px;
        text-align: center;
        > * {
            margin-bottom: 25px;
        }
    }
}

@media (max-width: 765px) {
    .about {
        .aboutContainer {
            padding-top: 70%;
        }
    }
}

@media (max-width: 480px) {
    .about {
        .aboutContainer {
            padding-top: 150px;
        }
    }
}