.gallery {
    .fullBleedImg {
        img {
            object-fit: cover;
            object-position: center;
            height: 575px;
        }
    }

    .miniGallery {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 75px 0;
        > * {
            width: calc(100% / 3 - 40px);
        }
    }
}

@media (max-width: 930px) {
    .gallery {
        .miniGallery {
            > * {
                width: 100%;
                margin: 20px 0;
            }
        }
    }
}