header {
    background-color: $pine;
    height: 676px;

    .headerContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 40px;
    }
    .headerTextContainer {
        width: 55%;

        h1 {
            font-size: 8rem;
            display: inline;
            position: relative;
            &::before {
                content: "";
                background: url(../assets/circle-text.png) no-repeat;
                background-size: 88%;
                position: absolute;
                left: -7.7%;
                top: 5.1%;
                height: 170px;
                width: 151px;
            }
        }
    }

    .headerImgContainer {
        margin-top: 50px;
        width: 40%;

        img {
            box-shadow: 20px 20px $whiteShade;
        }
    }
}

@media (max-width: 1150px) {

    header {
        .headerContainer {
            flex-direction: column;
            padding-top: 90px;
        }

        .headerTextContainer{
            width: 100%;
            text-align: center;

            h1 {
                font-size: 15vw;
                &::before {
                    background-size: 12vw;
                }
            }
        }
    }
}

@media (max-width: 765px) {

    header {
        .headerContainer {
            .headerImgContainer {
                width: 80%;
                img {
                    box-shadow: -20px -20px $whiteShade;
                }
            }
        }
    }
}