html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 125%;
}

.wrapper {
  max-width: 1280px;
  margin: 0 auto;
  width: 90%;
}

img {
  width: 100%;
  display: block;
}

h1,
h2,
h3,
h4,
p,
nav,
ul,
li,
a,
input,
fieldset {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.footerBottom {
  background-color: black;
  text-align: center;
}
.footerBottom p {
  padding: 5px 0;
  color: white;
}

h1 {
  font-family: "Abril Fatface", cursive;
  font-weight: normal;
  font-size: 4rem;
  color: #F6F6F6;
  line-height: 92px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

h2, h3, h4, .button {
  font-family: "Abril Fatface", cursive;
  font-weight: normal;
  color: #1F1F1F;
  letter-spacing: 1px;
  text-transform: uppercase;
}

h2 {
  font-size: 2.1rem;
}

h3 {
  font-size: 1.6rem;
}

h4 {
  font-size: 1.2rem;
}

.button {
  line-height: 32px;
  border: 1px solid #E4A436;
  background-color: #E4A436;
  padding: 10px 20px;
  text-align: center;
  font-size: 1rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.button:hover, .button:focus {
  background-color: transparent;
}
.button:focus {
  border: 1px solid blue;
  outline: 0;
}

p {
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  color: #1F1F1F;
  line-height: 32px;
  letter-spacing: 0px;
}

.navBar {
  min-height: 75px;
  background-color: #345231;
  padding: 20px 0;
  position: relative;
}
.navBar .wrapper ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 65%;
  margin: 0 auto;
}
.navBar .hamburgerMenu {
  visibility: hidden;
  width: 60px;
  height: 60px;
  border: 3px solid #F6F6F6;
  background-color: #345231;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  z-index: 20;
  top: 5px;
  right: 5px;
}
.navBar .hamburgerMenu:hover, .navBar .hamburgerMenu:focus {
  background-color: #709B6B;
}
.navBar .hamburgerMenu .menuBar {
  height: 3px;
  width: 25px;
  display: block;
  background-color: #F6F6F6;
  margin: 5px auto;
}
.navBar input[type=checkbox] {
  position: absolute;
  opacity: 0;
}
.navBar input[type=checkbox]:checked ~ .slideOutNav {
  right: 0;
}
.navBar .slideOutNav {
  position: fixed;
  background-color: #345231;
  z-index: 10;
  top: 0;
  right: -475px;
  width: 100%;
  height: 100vh;
  text-align: center;
  display: none;
  -webkit-transition: 0.75s;
  transition: 0.75s;
}
.navBar .slideOutNav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.navBar .slideOutNav ul li {
  margin: 15px 0;
}
.navBar .slideOutNav ul li:nth-child(3) {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}
.navBar a, .navBar span {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: #F6F6F6;
  line-height: 29px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.navBar li a:hover,
.navBar li span:hover {
  color: #E4A436;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.navBar .logo {
  font-weight: bold;
  line-height: 29px;
  color: #F6F6F6;
  font-family: "Abril Fatface", cursive;
  font-size: 2.1rem;
}

@media (max-width: 930px) {
  .navBar {
    -webkit-transition: 0.75s;
    transition: 0.75s;
  }
  .navBar .wrapper ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .navBar .wrapper ul li {
    margin-bottom: 15px;
  }
  .navBar ul li:nth-child(3) {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
}
@media (max-width: 480px) {
  .navBar .wrapper .mainMenu li {
    display: none;
  }
  .navBar .slideOutNav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .navBar .hamburgerMenu {
    visibility: visible;
  }
}
header {
  background-color: #345231;
  height: 676px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
header .headerContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 40px;
}
header .headerTextContainer {
  width: 55%;
}
header .headerTextContainer h1 {
  font-size: 8rem;
  display: inline;
  position: relative;
}
header .headerTextContainer h1::before {
  content: "";
  background: url(../assets/circle-text.png) no-repeat;
  background-size: 88%;
  position: absolute;
  left: -7.7%;
  top: 5.1%;
  height: 170px;
  width: 151px;
}
header .headerImgContainer {
  margin-top: 50px;
  width: 37%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
header .headerImgContainer img {
  -webkit-box-shadow: 20px 20px white;
          box-shadow: 20px 20px white;
}

@media (max-width: 1150px) {
  header .headerContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 90px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  header .headerTextContainer {
    width: 100%;
    text-align: center;
  }
  header .headerTextContainer h1 {
    font-size: 15vw;
  }
  header .headerTextContainer h1::before {
    background-size: 12vw;
  }
}
@media (max-width: 765px) {
  header .headerContainer .headerImgContainer {
    width: 80%;
  }
}
@media (max-width: 480px) {
  header {
    height: 80vh;
  }
}
.about {
  background-color: #F6F6F6;
}
.about .aboutContainer {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  padding: 180px 0 90px;
  text-align: center;
}
.about .aboutContainer > * {
  margin-bottom: 25px;
}

@media (max-width: 765px) {
  .about .aboutContainer {
    padding-top: 70%;
  }
}
@media (max-width: 480px) {
  .about .aboutContainer {
    padding-top: 150px;
  }
}
.generalInformation .info1 {
  margin-bottom: 75px;
}
.generalInformation .infoContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 325px;
}
.generalInformation .infoContainer > * {
  width: 43%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.generalInformation .generalInfoTextContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.generalInformation .generalInfoTextContainer .button {
  max-width: 210px;
}
.generalInformation .generalInfoTextContainer > * {
  margin-top: 15px;
}
.generalInformation .info1 .generalInfoTextContainer {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.generalInformation .info2 .generalInfoTextContainer {
  text-align: right;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.generalInformation .genImgContainer {
  position: relative;
}
.generalInformation .img1 img {
  position: absolute;
  right: -90px;
  top: -40px;
  -webkit-box-shadow: 20px 20px #709B6B, -333px 20px #709B6B;
          box-shadow: 20px 20px #709B6B, -333px 20px #709B6B;
}
.generalInformation .img2 img {
  position: absolute;
  right: 90px;
  top: 15px;
  -webkit-box-shadow: 20px 20px #345231, 373px 20px #345231;
          box-shadow: 20px 20px #345231, 373px 20px #345231;
}
.generalInformation .button a {
  color: inherit;
}

@media (max-width: 930px) {
  .generalInformation .infoContainer {
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .generalInformation .infoContainer > * {
    width: 100%;
  }
  .generalInformation .genImgContainer {
    position: static;
  }
  .generalInformation .img1 img {
    position: static;
    -webkit-box-shadow: -20px 20px #709B6B;
            box-shadow: -20px 20px #709B6B;
  }
  .generalInformation .img2 img {
    position: static;
    -webkit-box-shadow: 20px 20px #345231;
            box-shadow: 20px 20px #345231;
  }
  .generalInformation .generalInfoTextContainer {
    margin-top: 75px;
  }
  .generalInformation .info2 {
    padding-bottom: 75px;
  }
  .generalInformation .info2 .img2 {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
  .generalInformation .info1 .generalInfoTextContainer,
.generalInformation .info2 .generalInfoTextContainer {
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.journey {
  background-color: #F6F6F6;
}
.journey .infoContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 150px 0 90px;
}
.journey .generalInfoTextContainer {
  width: 65%;
}
.journey .generalInfoTextContainer p {
  margin: 60px 0;
}
.journey .genImgContainer {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  width: 27.5%;
}
.journey .genImgContainer img {
  -webkit-box-shadow: 20px 20px #709B6B;
          box-shadow: 20px 20px #709B6B;
}

@media (max-width: 930px) {
  .journey .infoContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .journey .infoContainer > * {
    width: 100%;
  }
  .journey .generalInfoTextContainer {
    text-align: center;
    margin-top: 75px;
  }
  .journey .generalInfoTextContainer p {
    margin: 30px 0;
  }
}
.gallery .fullBleedImg img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  height: 575px;
}
.gallery .miniGallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 75px 0;
}
.gallery .miniGallery > * {
  width: calc(33.3333333333% - 40px);
}

@media (max-width: 930px) {
  .gallery .miniGallery > * {
    -webkit-transition: 0.3s;
    transition: 0.3s;
    width: 100%;
    margin: 20px 0;
  }
}
.homeFooter {
  background-color: #F6F6F6;
}
.homeFooter .footerTextContainer {
  padding: 75px 0 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.homeFooter .textContainer {
  max-width: 544px;
}
.homeFooter .textContainer h3 {
  margin-top: 6px;
}
.homeFooter .textContainer p {
  margin-top: 20px;
}
.homeFooter .infoContainer {
  width: 47.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 60px;
}
.homeFooter .iconContainer {
  background-color: #E4A436;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 930px) {
  .homeFooter .infoContainer {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  .homeFooter .iconContainer {
    margin-bottom: 20px;
  }
}
@media (max-width: 656px) {
  .homeFooter .infoContainer {
    width: 100%;
  }
}
.contactHeader {
  background-image: url(../assets/contact-image-1.jpg);
  background-position: center;
  background-size: cover;
  height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.contactHeader h1 {
  margin-bottom: -16px;
}

@media (max-width: 930px) {
  .contactHeader h1 {
    text-align: center;
  }
}
@media (max-width: 480px) {
  .contactHeader {
    height: 50vh;
  }
}
@media (max-width: 430px) {
  .contactHeader h1 {
    text-orientation: upright;
    -webkit-writing-mode: sideways-rl;
        -ms-writing-mode: sideways-rl;
            writing-mode: sideways-rl;
    height: 53vh;
  }
  .contactHeader h1 span {
    -webkit-writing-mode: initial;
        -ms-writing-mode: initial;
            writing-mode: initial;
  }
}
.contactBody {
  background-color: #F6F6F6;
  padding: 75px 0;
}
.contactBody .contactBodyContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.contactBody .contactContainer {
  background-color: white;
  width: 29%;
  height: 100%;
}
.contactBody .contactContainer .socialMediaIcons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 195px;
  margin: 40px 20px 30px;
}
.contactBody .contactContainer .socialMediaIcons > * a {
  color: #345231;
  display: inline-block;
}
.contactBody .contactContainer .socialMediaIcons i {
  font-size: 1.4rem;
}
.contactBody .contactContainer .textContainer {
  margin-bottom: 30px;
}
.contactBody .contactContainer .textContainer p {
  margin-left: 20px;
}
.contactBody .contactContainer .textContainer p:first-child {
  font-weight: bold;
  margin-bottom: 30px;
}
.contactBody .contactContainer .textContainer p:first-child a {
  color: #1F1F1F;
}
.contactBody .myForm {
  width: 68%;
}
.contactBody .myForm fieldset {
  border: none;
  font-size: 0;
}
.contactBody .myForm fieldset input,
.contactBody .myForm fieldset textarea {
  border: none;
  padding: 20px;
  font-size: 0.9rem;
  font-family: "Montserrat", sans-serif;
  color: #1F1F1F;
  margin-bottom: 20px;
}
.contactBody .myForm fieldset .inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.contactBody .myForm fieldset input {
  width: 49%;
}
.contactBody .myForm fieldset textarea {
  display: block;
  width: 100%;
  resize: none;
}
.contactBody .myForm fieldset .button {
  width: 100%;
}

@media (max-width: 930px) {
  .contactBody .contactBodyContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contactBody .contactContainer {
    margin-top: 30px;
    width: 100%;
  }
  .contactBody .myForm {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    width: 100%;
  }
}
@media (max-width: 558px) {
  .contactBodyContainer .myForm fieldset .inputs {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contactBodyContainer .myForm fieldset input {
    width: 100%;
  }
}
.blogHeader {
  background-image: url(../assets/blog-image-1.jpg);
  background-position: center;
  background-size: cover;
  height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.blogHeader h1 {
  margin-bottom: -16px;
}

@media (max-width: 609px) {
  .blogHeader h1 {
    text-align: center;
  }
}
@media (max-width: 480px) {
  .blogHeader {
    height: 50vh;
  }
}
.blog {
  background-color: #F6F6F6;
  padding-top: 75px;
}
.blog .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.blog .commentContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.blog .commentContainer .comment {
  width: 87%;
}
.blog .commentContainer .commenterImg {
  width: 11.5%;
}
.blog .aboutContainer {
  width: 31%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.blog .aboutContainer > *,
.blog .blogText,
.blog .commentContainer {
  background-color: white;
  padding: 35px;
}
.blog h4 {
  margin: 20px 0;
}
.blog .profile a {
  font-weight: bold;
  color: black;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.blog .profile a:hover, .blog .profile a:focus {
  color: #709B6B;
}
.blog .commentContainer,
.blog .myForm {
  margin-top: 25px;
}
.blog .recentPosts {
  margin-top: 25px;
}
.blog .recentPosts li {
  list-style: disc;
  margin-left: 25px;
}
.blog .blogContainer {
  width: 65.4%;
}
.blog .blogText p {
  margin-top: 20px;
}
.blog .blogText,
.blog .blogComments:nth-child(2) {
  border-bottom: 5px solid #709B6B;
}
.blog .myForm {
  padding-bottom: 75px;
}
.blog .myForm fieldset {
  border: none;
  font-size: 0;
}
.blog .myForm fieldset input,
.blog .myForm fieldset textarea {
  border: none;
  padding: 20px;
  font-size: 0.9rem;
  font-family: "Montserrat", sans-serif;
  color: #1F1F1F;
  margin-bottom: 20px;
}
.blog .myForm fieldset .inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.blog .myForm fieldset input {
  width: 49%;
}
.blog .myForm fieldset textarea {
  display: block;
  width: 100%;
  resize: none;
}
.blog .myForm fieldset .button {
  width: 100%;
}

@media (max-width: 930px) {
  .blog .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .blog .aboutContainer {
    width: 100%;
    margin-bottom: 24px;
  }
  .blog .profile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .blog .aboutTextContainer {
    width: 45%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .blog .recentPosts h4 {
    text-align: center;
  }
  .blog .blogContainer {
    width: 100%;
  }
  .blog .blogContainer h3 {
    text-align: center;
  }
  .blog .commentContainer .comment {
    width: 84%;
  }
  .blog .commentContainer .commenterImg {
    min-width: 11.5%;
    width: auto;
  }
}
@media (max-width: 558px) {
  .blog .profile {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .blog .aboutTextContainer {
    width: 100%;
  }
  .blog .myForm fieldset .inputs {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .blog .myForm fieldset input {
    width: 100%;
  }
}