html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 125%;
}

.wrapper {
  max-width: 1280px;
  margin: 0 auto;
  width: 90%;
}

img {
  width: 100%;
  display: block;
}

h1,
h2,
h3,
h4,
p,
nav,
ul,
li,
a {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

h1 {
  font-family: "Abril Fatface", cursive;
  font-weight: normal;
  font-size: 4rem;
  color: #F6F6F6;
  line-height: 92px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

h2, h3, h4, button {
  font-family: "Abril Fatface", cursive;
  font-weight: normal;
  color: #1F1F1F;
  letter-spacing: 1px;
  text-transform: uppercase;
}

h2 {
  font-size: 2.1rem;
}

h3 {
  font-size: 1.6rem;
}

h4 {
  font-size: 1.2rem;
}

button {
  line-height: 32px;
}

p {
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  color: #1F1F1F;
  line-height: 32px;
  letter-spacing: 0px;
}

.navBar {
  background-color: #345231;
  padding: 20px 0;
}
.navBar .wrapper ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 65%;
  margin: 0 auto;
}
.navBar a, .navBar span {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: #F6F6F6;
  line-height: 29px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.navBar li a:hover,
.navBar li span:hover {
  color: #E4A436;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.navBar .logo {
  font-weight: bold;
  line-height: 29px;
  color: #F6F6F6;
  font-family: "Abril Fatface", cursive;
  font-size: 2.1rem;
}

@media (max-width: 930px) {
  .navBar {
    -webkit-transition: 0.75s;
    transition: 0.75s;
  }
  .navBar .wrapper ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .navBar .wrapper ul li {
    margin-bottom: 15px;
  }
  .navBar ul li:nth-child(3) {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
}
header {
  background-color: #345231;
  height: 95vh;
  max-height: 676px;
}
header .headerContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 40px;
}
header .headerTextContainer {
  position: relative;
}
header .headerTextContainer .curvedTextContainer {
  background-image: url(../assets/circle-text.png);
  background-repeat: no-repeat;
  background-size: 133px;
  width: 151px;
  height: 170px;
  position: absolute;
  left: -55px;
  top: -50px;
}
header .headerTextContainer h1 {
  font-size: 8rem;
}
header .headerTextContainer {
  width: 55%;
}
header .headerImgContainer {
  margin-top: 50px;
  width: 40%;
}
header .headerImgContainer img {
  -webkit-box-shadow: 20px 20px #F6F6F6;
          box-shadow: 20px 20px #F6F6F6;
}

@media (max-width: 1150px) {
  header .headerContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 90px;
  }
  header .headerTextContainer {
    width: 100%;
    text-align: center;
  }
  header .headerTextContainer .curvedTextContainer {
    background-size: 80%;
    width: 16vw;
    height: 32vh;
    left: 5.5vw;
    top: -5vw;
  }
  header .headerTextContainer h1 {
    font-size: 16vw;
  }
}
@media (max-width: 765px) {
  header .headerContainer .curvedTextContainer {
    top: -3vw;
  }
  header .headerContainer .headerImgContainer {
    width: 80%;
  }
  header .headerContainer .headerImgContainer img {
    -webkit-box-shadow: -20px -20px #F6F6F6;
            box-shadow: -20px -20px #F6F6F6;
  }
}
@media (max-width: 630px) {
  header .headerContainer .curvedTextContainer {
    top: -1vw;
  }
}
@media (max-width: 380px) {
  header .headerContainer .curvedTextContainer {
    top: 5vw;
  }
}